#right > * {
	margin:0px 20px;
}

h1 span.small {
	font-size:0.8em;
	font-weight:normal;
}

#tabs {
	overflow:hidden;
}

.ui-tabs-nav {
	height:25px;
}

	.ui-tabs-nav a {
		line-height:13px;
	}

.tabbody {
	width:90%;
	height:100%;
	overflow:auto;
}

#right form {
	margin:0;
}

#right form > * {
	margin-bottom:1em;
}

#right table td {
	padding:2px;
}

#right table thead td {
	font-weight:bold;
	background:#eee;
}

#right table thead td.fieldname.orderASC a {
	padding-left:12px;
	background:url(../../cms/images/bullet_arrow_down.png) no-repeat 0px 1px;
}

#right table thead td.fieldname.orderDESC a {
	padding-left:12px;
	background:url(../../cms/images/bullet_arrow_up.png) no-repeat 0px 1px;
}

#right td.int, #right td.tinyint, #right td.integer, #right td.bool {
	text-align:right;
}

#right table tbody tr.even {
	background:#f8f8f8;
}

#right #browse-tab table tbody tr:hover {
	background:#ffb;
}

#right #browse-tab table tbody tr.selected {
	background:#ddf;
}

#right #browse-tab table tbody tr.current td {
	border:1px solid #bbb;
}

#right div.truncated {
	display:inline;
	width:10px;
	height:10px;
	border-bottom:3px dotted #008;
}

#right button.pagination a,
#right button.saverecord a,
#right button.crud-records a {
	display:block;
	width:16px;
	height:16px;
	background:url(../../sapphire/thirdparty/jquery-ui-themes/base/images/ui-icons_222222_256x240.png) no-repeat 0px 0px;
}

#right button.first-page a { background-position:-240px -32px; }
#right button.prev-page a { background-position:-96px -32px; }
#right button.next-page a { background-position:-32px -32px; }
#right button.last-page a { background-position:-208px -32px; }
#right button.add-record a { background-position:-16px -128px; background-image:url(../../sapphire/thirdparty/jquery-ui-themes/base/images/ui-icons_2e83ff_256x240.png); }
#right button.edit-record a { background-position:-64px -112px; background-image:url(../../sapphire/thirdparty/jquery-ui-themes/base/images/ui-icons_2e83ff_256x240.png); }
#right button.delete-records a { background-position:-176px -96px; background-image:url(../../sapphire/thirdparty/jquery-ui-themes/base/images/ui-icons_cd0a0a_256x240.png); }
#right button.delete-records:disabled a { background-image:url(../../sapphire/thirdparty/jquery-ui-themes/base/images/ui-icons_888888_256x240.png); }
#right button.saverecord a { background-image:none; width:60px; }

#right label {
	display:block;
	float:none;
	margin-bottom:3px;
	margin-left:0;
	width:96%;
	color:#666666;
	font-size:11px;
}

#right div.input {
	background:none repeat scroll 0 0 #E9E9E9;
	display:block;
	padding:3px;
	width:97%;
}

#right div.input input,
#right div.input textarea {
	border:1px solid #A7A7A7;
	padding:3px;
	width:99%;
	font-size:12px;
}

#right div.input input[type="radio"] {
	width:auto;
}

.importexportdiv {
	width:50%;
	float:left;
}

#ajax_msg {
	margin-top: 5px;
	padding: 0.25em 0.7em;
	font-size:14px;
	font-weight:bold;
	float:left;
	background:#fff;
	border:1px solid #aaa;
	color:#555;
	min-width:20%;
	display:none;
}

#ajax_msg.waiting {
	padding-left:35px;
	background:url("../../cms/images/network-save.gif") no-repeat scroll 7px 50% #fff;
}

#ajax_msg.good {
	padding-left:35px;
	background:url("../../cms/images/alert-good.gif") no-repeat scroll 7px 50% #E2F9E3;
	border:1px solid #8DD38D;
	color:#006600;
}

#ajax_msg.bad {
	padding-left:35px;
	background:url("../../cms/images/alert-bad.gif") no-repeat scroll 7px 50% #FFE9E9;
	border-color:#FF8E8E;
	color:#C80700;
}